body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

li {
  list-style: none;
}

.header {
color: white;
background-color: #00DAD0;
height: 90px; 
width: 100%;
/* スマホ高さ指定 */
}

.header-logo {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
float: left;
font-size: 17px;
padding: 0px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: white;
  height: 900px;
}

.main-cover {
  background-image: image();
}

.main-cover img {
  width: 100%;
  height: 200px;
}

.contact-form {
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: #8C8B8C;
  height: 150px;
  color: white;
  padding: 40px;
}

.footer-list {
  float: right;
  }

.footer-list li {
 padding-bottom: 20px;
}

.footer-sns {
  float: left;
}

.footer-sns li {
  padding: 20px;
  float: left;
}

.footer-sns img {
width: 50px;
height: 50px;
}

.footer-comment{
  text-align: center;
  padding-top: 30px;
}